.input-field {
    padding: 6px;
}

form {
    background-color: greenyellow;
    border-radius: 5px;
}

label {
    width: 11rem;
    padding: 1rem;
}

li {
    list-style: none;
}

button {
    appearance: none;
    width: 16rem;
}